{% extends 'master.html' %}
{% load static %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(../static/img/slide/apartments-1845884_1280.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Acumen Agency</span></h2>
              <p class="animate__animated animate__fadeInUp">Your Housing Solution Starts Here therefore we make Housing Management Simple</p>
              <a href="{% url 'about-url' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(../static/img/slide/architecture-3121009_1280.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Experience the Difference of Quality Housing Management</h2>
              <p class="animate__animated animate__fadeInUp">ShelterSmart: The  agency is knowledgeable and experienced in all things housing.
                Keystone Housing: The agency is a reliable and essential provider of housing services</p>
              <a href="{% url 'about-url' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(../static/img/slide/house-1477041_1280.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Your Home is in Safe Hands with Us</h2>
              <p class="animate__animated animate__fadeInUp">HomeHaven: We evokes a sense of warmth, comfort, and security, which are all important qualities for a housing</p>
              <a href="{% url 'about-url' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="{% url 'home-url' %}">Home</a></li>
            <li>About Acumen Agency</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>"Your Home, Our Care"</h2>
            <h3>Acumen Agency started in 2020, August</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
                Welcome to Acumen Agency, your one-stop solution for seamless and efficient housing management. We are a team of dedicated professionals committed to providing comprehensive housing management services that cater to the diverse needs of our clients.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Tenant Management: We streamline tenant interactions, handling everything from screening and onboarding to rent collection and maintenance requests.</li>
              <li><i class="ri-check-double-line"></i>Property Maintenance: We ensure your property stays in top condition, overseeing regular inspections, repairs, and renovations. </li>
              <li><i class="ri-check-double-line"></i>Financial Management: We handle all financial aspects, including rent collection, invoice processing, and financial reporting.</li>
            </ul>
            <p class="fst-italic">
              At Acumen Agency, we understand the complexities and challenges of managing properties, whether it's juggling tenant inquiries, maintaining property upkeep, or navigating legal and financial matters. That's why we've developed a robust housing management system that takes the burden off your shoulders, allowing you to focus on the bigger picture.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact Us</h2>
          <ol>
            <li><a href="{% url 'home-url' %}">Home</a></li>
            <li>Our contact information</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Mbagathi road, Ongata Rongai, Kajiado</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>acumenagency@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+254 789 55488 55</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->



{% endblock %}